html, body {
    height: 100%;
}

/**Navbar Stuff **/
.navbar-active {
    background-color: #f0f0f0;
    border-bottom: solid 2px;
    border-bottom-color: lightblue;
}

/**Home Page Stuff**/

.home-page {
    height: 100%;
}

/**Services Page Stuff**/

.services-page {
    height: 100%;
}

/**Other**/

.redBg-add, .redBg-remove,
.greenBg-add, .greenBg-remove,
.light-blueBg-add, .light-blueBg-remove {
    transition: background-color 3000ms linear;
}

.redBg,
.redBg-add.redBg-add-active{
    background-color: rgb(200, 50, 50);
}

.light-blueBg,
.light-blueBg-add.light-blueBg-add-active {
    background-color: rgb(50, 200, 200);
}

.greenBg,
.greenBg-add.greenBg-add-active {
    background-color: rgb(50,200,50);
}

.grayBg {
    background-color: lightgray;
}